/* this css file will only style the homepage of our site */

.dexter {
  margin-right: 10px;
  max-width: 500px;
  max-height: 500px;
  background-color: rgba(141, 109, 109, 0.627);
  width: 255px;
  height: 305px;
  padding: 5px;
  float:right;
}

.audioplayer{
  margin-top: auto;
  margin-right: 550px;
  display:inline-block;
}




.albumofweek{
  margin-left: auto;
  margin-right: 550px;
  background-color: rgba(141, 109, 109, 0.627);
  padding: 5px;


.flex-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  background-color: #ffffff00;
}
.selfie{
  margin-right: 20px;
  max-width: 400px;
  max-height: 400px;
  background-color: rgba(141, 109, 109, 0.627);
  width: 255px;
  height: 305px;
  padding: 5px;
  float:right;
}

#header{
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: "Comfortaa", sans-serif;
}


