/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url(../img/backgrounddub.jpg);
  background-color:rgb(29, 172, 244);
  
  
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: "Comfortaa", sans-serif;
  size: 28px;
  font-size: 100%;
  text-align: center;
}

p5{
  font-weight: 200%;
  padding: 10px;
  font-family: "Comfortaa", sans-serif;
  font-palette: rgb(228, 223, 161);
  text-align: center;

}
@font-face{
  src: url(Comfortaa-VariableFont_wght.ttf);
  font-family: Comfortaa;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}
/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  font-family: "Comfortaa", sans-serif;
  text-align: center;

}


/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #000000;
  background-image: url(../img/watercolorbackground.jpg);
  font-family: "Comfortaa", sans-serif;
  font-palette: rgb(228, 223, 161);
  text-align: center;

}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #090b31;
  background-color: #4b97e3;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  background-image: url(../img/watercolorbackground.jpg);

}
