.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #9dc5d9;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #9dc5d9;
}

p{
text-align: left;
}

.funny{
float: right;
overflow: hidden;
}