#challenge{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#results{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#problems{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#reflection{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}

#output{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
p3{
  text-align: left;
  color: rgb(179, 30, 30);
}
p4{
  text-align: left;
  color: rgb(30, 131, 16);
}
p6{
  text-align: left;
  color: rgb(64, 15, 89);
}
p7{
  text-align: left;
  color: rgb(248, 193, 12);
}
p8{
  text-align: left;
  color: rgb(193, 19, 252);
}
p9{
  text-align: left;
  color: rgb(238, 20, 129);
}