#challenge{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#results{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#problems{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
#reflection{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}
.screen{
  display: inline;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  float: left;
  width: 33.33%;
  padding: 5px;

}
#output{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}

#comic-container{
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 4px #5e957a;
  background-color: #76c7f0;
  border-radius: 10px;
}

#debugging{
  object-fit: contain;
}
p3{
  text-align: left;
  color: rgb(179, 30, 30);
}

#comic-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: center;
}

#comic-container img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

#comic-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
