.lab-content {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: transparent;
}


.head1 {
  color:aquamarine;
  background-color: gray;
  font-size: 50px;
  border: solid 2px black;
}


.bottum {
  background-color: aqua!important;
}


h1 {
  font-size: 30px;
  text-decoration: underline;
}


p {
  text-indent: 10px;
}
